.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
  text-align: center;
}

.Landing-div-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.main-bold {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}

.main-text {
  font-size: 35px;
}

.main-Btn-group {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}

.main-Btn {
  border-radius: 50px;
  margin: 8px;
  font-size: 25px;
  width: 250px;
  height: 50px;
  border: none;
  cursor: pointer;
}